
.tituloo{
	background-color: black;
	/* margin: 1em 0 0 0; */
	padding: 5px;
	
}

  .tituloo h2{
	text-align: center;
	font-size: clamp(2em, 2.8vw, 5rem);
	align-items: center;
	justify-content: center;
	display: flex;
	line-height: 55px;
	font-family: 'Montserrat', sans-serif;
	color: transparent;
    background: linear-gradient(to left, #ff528b, #b86dff);
	background-clip: text;
	-webkit-background-clip: text;
	
  }

  .textos{
	/* margin: 1em 0 0 0; */
	padding: 5px;	
	
}

  .textos h2{
	text-align: center;
	font-size: clamp(1.20em, 1.8vw, 5rem);
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 0;
	line-height: 55px;
	font-family: 'Montserrat', sans-serif;
	color: white;

	
  }


