*{
    margin: 0;
    padding: 0;
    
}

.linkk{
    position:relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.linkk:after{
    content: "";
    position: absolute;
    background-color: #ff1c68;
    height: 3px;
    width: 0;
    left:0;
    bottom: -8px;
    transition: 0.3s;

}

.linkk:hover{
    color: rgb(255, 255, 255);
}

.linkk:hover:after{
    width: 100%;
}

