*{
    margin: 0;
    padding: 0;
    
}

.line{
    position:relative;
    text-decoration: none;
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    cursor: pointer;
}

.line:after{
    content: "";
    position: absolute;
    background-color:#ff1c68;
    height: 3px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: 0.3s;

}

.line:hover{
    color: rgb(255, 255, 255);
}

.line:hover:after{
    width: 100%;
}

